/* ================= ABOUT PAGE ================= */
.content {
    display: flex;
    flex-direction: column;
    padding: 32px 32px;
    margin: 0 16px;
    gap: 20px;
}

.content h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 500;
}

.content .subtitle, .description {
    margin-top: 20px;
}

.backstory .subtitle {
    color: rgb(75 85 99);
}

.description {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.description p {
    color: inherit;
}


.now ul {
    padding-left: 60px;
}

.now li {
    line-height: 1.5rem;
    font-size: 1rem;
}

.end-sentence, .end-sentence a {
    font-size: 1.08rem;
    font-style: italic;
    font-weight: 500;
    color: inherit;
}


/* RESPONSIVE BREAKPOINTS */
@media (max-width: 1135px) {
    .content {
        margin: 0;
    }
}

@media (max-width: 767px) {
    .content {
        padding: 0;
        gap: 16px;
    }

    .content h1 {
        font-size: 1.5rem;
        line-height: 1.25rem;
    }

    .content .subtitle, .description {
        margin-top: 12px;
    }

    .description {
        gap: 8px;
    }

    .now ul {
        padding-left: 45px;
    }
}

@media (max-width: 679px) {
    .content h1 {
        font-size: 1.5rem;
        line-height: 1.25;
        font-weight: 600;
    }

    .now ul {
        padding-left: 40px;
    }

    .now li {
        font-size: 0.875rem;
        line-height: 1.4rem;
    }

    .end-sentence a {
        font-size: 0.875rem;
    }
}







/* @media (max-width: 767px) {
    .content {
        padding: 0;
    }
} */

/* @media (max-width: 679px) {
    .content h1 {
        font-size: 1.5rem;
        line-height: 1.25;
        font-weight: 500;
        margin-bottom: 6px;
    }

    .content p {
        font-size: 0.875rem;
        margin-top: 10px;
    }

    .now ul {
        margin-top: 10px;
        padding-left: 45px;
    }

    .now li {
        font-size: 0.875rem;
    }

    .end-sentence a {
        font-size: inherit;
    }

    .now, .next {
        margin-top: 25px;
    }

    .end {
        margin-bottom: 40px;
    }
} */