/* ================= ABOUT PAGE ================= */
.main-content h1 {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 600;
    margin-bottom: 24px;
}

.main-content h2 {
    margin: 24px 0px 8px 0px;
    font-weight: 600;
}

.main-content p {
    line-height: 1.6;
    margin-bottom: 16px;
}

.main-content ul {
    padding-left:50px;
}

.end-sentence, .end-sentence a {
    font-size: 1.08rem;
    font-style: italic;
    color: inherit;
    margin-top: 30px;
}


/* RESPONSIVE BREAKPOINTS */
@media (max-width: 675px) {
    .main-content h1 {
        font-size: 1.5rem;
        line-height: 1.25;
        font-weight: 600;
    }

    .main-content h2 {
        font-size: inherit;
        font-weight: 600;

    }

    .main-content p {
        font-size: 0.875rem;
    }

    .end-sentence a {
        font-size: inherit;
    }
}