.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-content p {
    font-size: 0.75rem;
    line-height: 1rem;
}

.title h1 {
    font-size: 3rem;
    line-height: 1;
    font-weight: 500;
}

.title p {
    margin-top: 20px;
    font-size: 1rem;
    line-height: 1.5rem;
}

.categories {
    display: flex;
    gap: 8px;
}

.categories button {
    padding: 8px 12px;
    color: #ffffff;
    background-color: #1a1a1a;
    font-size: .75rem;
    line-height: 1rem;
    border: 1px solid #1a1a1a;
    border-radius: 9999px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;
}

.project {
    display: flex;
    flex-direction: column;
    max-height: 340px;
    height: 100vh;
    overflow: hidden;
    justify-content: space-between;
    background-color: #b8b8bc38;
    border-radius: 10px;
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease-in-out; 
    box-shadow:
    0 0px 2px 0 rgba(0, 0, 0, 0),
    0 0px 7px -3px rgba(0, 0, 0, 0.516),
    0 0px 32px -8px rgba(0, 0, 0, 0),
    inset 0 0px 0 rgba(255, 255, 255, 0),
    inset 0 0px 0 rgba(0, 0, 0, 0);
}

.project:hover {
    transform: scale(1.055); 
}

.project img {
    max-width: 100%;
    max-height: 210px;
    height: 100%;
    object-fit: cover;
    margin: 8px;
    border-radius: 5px;
}

.detail {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 24px 16px 24px;
}

.detail h2 {
    font-size: inherit;
    line-height: 1.25;
    font-weight: 600;
    justify-content: space-between;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
    flex-shrink: 0;

}

.detail p {
    margin-top: 6px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    line-height: 1.25;
    flex-shrink: 0; 
}

.type-date {
    display: flex;
    flex-direction: row;
    margin: 8px 0 6px 0;
    justify-content: space-between;
}

.type {
    padding: 4px 8px;
    color: #ffffff;
    background-color: #1a1a1a;
    border-radius: 6px;
}


/* RESPONSIVE BREAKPOINTS */
@media (max-width: 767px){
    .projects {
        gap: 12px;;
    }

    .title h1 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .title p {
        margin-top: 12px;
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    .projects {
        gap: 12px;;
    }

    .project:hover {
        transform: scale(1.04); 
    }
}

@media (max-width: 639px) {
    .projects {
        grid-template-columns: repeat(1, minmax(300px, 1fr));
    }

    .project:hover {
        transform: scale(1.02); 
    }
}