.content {
    display: flex;
    flex-direction: column;
}

.content h2, .content h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: inherit;
}

.content h3 {
    color: #737373;
}

.content p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: -0.1px;
}

.title {
    padding: 48px 40px 0 40px;
}

.title h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: inherit;
    letter-spacing: -1.2px;
}

.title p {
    margin-top: 8px;
    color: #404040;
    font-size: 1rem;
    line-height: 1.5rem;
}

.detail {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    padding: 40px 0;
    gap: 128px;
    position: relative;
}

.timeline-progress {
    position: absolute;
    left: 30px;
    top: 0;
    width: 2px;
    border-radius: 2px;
    z-index: 1;
}

.exp {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 40px;
}

.timeline {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.timeline-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 11px;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    background-color: rgb(232, 229, 229);
    border-radius: 9999px;
    z-index: 2;
}

.timeline-dot span {
    padding: 8px;
    margin: auto;
    width: 12px;
    height: 12px;
    background-color: #7e7e8284;
    border: 1px solid #7e7e828e;
    border-radius: 9999px;
}

.timeline h3 {
    padding-left: 39px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.detail .date {
    margin-bottom: 4px;
    display: none;
}

.description p {
    color: #6b7280;
}

.description ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    color: #374151;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.description ul li {
    display: flex;
    align-items: flex-start;
}

.description ul li::before {
    content: "•";
    margin-right: 8px;
    flex-shrink: 0;
    color: #37415180;
    font-size: 0.75rem;
}

.position {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
    gap: 8px;
}

.position p {
    display: inline-block;
    padding: 0px 5px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.149);
    border-radius: 6px;
}

.education {
    margin-top: 24px;
    padding-top: 16px;
}

.education p {
    margin-top: 4px;
    color: #4b5563;
}

.resume {
    margin-top: 24px;
    padding: 24px 0;
}

.resume a {
    display: flex;
    gap: 8px;
    align-items: center;
    color: inherit;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: inherit;
    text-decoration: none;
}


/* RESPONSIVE BREAKPOINTS */
@media (max-width: 767px) {
    .content h2,.content h3,
    .content p, .resume a {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    .title {
        padding: 48px 12px 0 12px;
    }

    .title h1 {
        font-size: 1.125rem;
        line-height: 1.75rem;
        letter-spacing: -0.3px;
    }

    .detail {
        gap: 48px;
    }

    .exp {
        grid-template-columns: none;
    }

    .timeline-contaner, .timeline-progress {
        display: none;
    }

    .description-contaner {
        padding: 0 12px;
    }

    .detail .date {
        display: inline-block;
    }

    .description ul {
        font-size: 0.75rem;
        line-height: 1rem;
    }

    .education {
        margin-top: 12px;
    }

    .resume {
        margin-top: 12px;
    }
}

@media (max-width: 679px) {
    .title {
        padding-top: 24px;
    }

    .detail {
        gap: 36px;
    }
}