/* Content */
.content {
    display: flex;
    flex-direction: column;
}
.content h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 500;
}

.content .subtitle, .description {
    margin-top: 24px;
}

.content .subtitle {
    color: rgb(75 85 99);
}

.description p {
    margin-bottom: 16px;
    color: inherit;
}


/* RESPONSIVE BREAKPOINTS */
@media (max-width: 767px) {
    .content h1 {
        font-size: 1.5rem;
        line-height: 1.25rem;
    }

    .content .subtitle, .description {
        margin-top: 16px;
    }

    .description p {
        margin-bottom: 12px;
    }
}

@media (max-width: 679px) {
    .content h1 {
        font-size: 1.5rem;
        line-height: 1.25;
        font-weight: 600;
    }
}