.main-content p {
    font-size: 0.75rem;
    line-height: 1rem;
}

.title h1 {
    font-size: 3rem;
    line-height: 1;
    font-weight: 500;
}

.title p {
    font-size: 1rem;
    font-weight: 1.5rem;
    margin-top: 20px;
}

.category {
    font-size: .75rem;
    line-height: 1rem;
    padding: 8px 12px;
    border-radius: 9999px;
    border-width: 1px;
    background-color: #1a1a1ae4;
    color: #ffffff;
    margin-top: 20px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-top: 20px;
    gap: 1.5rem;
}

.project {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    max-height: 380px;
    gap: 0.25rem;
    justify-content: space-between;
    background-color: #b8b8bc38;
    border-radius: 10px;
    text-decoration: none;
    color: inherit;
    overflow: hidden;
    transition: transform 0.2s ease-in-out; 
    box-shadow:
    0 0px 2px 0 rgba(0, 0, 0, 0),
    0 0px 7px -3px rgba(0, 0, 0, 0.516),
    0 0px 32px -8px rgba(0, 0, 0, 0),
    inset 0 0px 0 rgba(255, 255, 255, 0),
    inset 0 0px 0 rgba(0, 0, 0, 0);
}

.project:hover {
    transform: scale(1.055); 
}

.detail {
    display: flex;
    flex-direction: column;
}

.detail img {
    max-width: 100%;
    max-height: 195px;
    height: auto;
    border-radius: 5px;
}

.detail h2 {
    font-size: inherit;
    line-height: 1;
    font-weight: 600;
    margin-top: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.detail h3, .detail p {
    margin-top: 6px;
}

.detail h3 {
    font-size: 0.75rem;
    font-weight: normal;
    line-height: 1rem;
}

.visit-tools {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.visit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sources {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.source {
    font-size: 0.75rem;
    line-height: 1rem;
    display: flex;
    padding: 0px 12px;
    font-weight: 500;
    text-decoration: none;
    height: 1.5rem;
    align-items: center;
    background-color: #1a1a1a;
    color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    border-color: #1a1a1a;
}

.source:hover {
    background-color: #cacac754;
    color: #1a1a1a;
}

.state {
    display: flex;
    padding: 2px 8px;
    border-radius: 9999px;
    align-items: center;
    background-color: rgba(92, 235, 168, 0.463);
}

.tools {
    margin-top: 6px;
}

.tools p {
    display: inline-flex;
    padding: 0.125rem 0.5rem;
    border-radius: 9999px;
    background-color: #fdfbfb;
    gap: 0.25rem;
}


/* RESPONSIVE BREAKPOINTS */
@media (max-width: 767px){
    .projects {
        gap: 0.8rem;;
    }

    .project:hover {
        transform: scale(1.04); 
    }
}

@media (max-width: 679px) {
}

@media (max-width: 639px) {
    .projects {
        grid-template-columns: repeat(1, minmax(300px, 1fr));
    }

    .project:hover {
        transform: scale(1.02); 
    }
}