/* ================= TOOLS PAGE ("Shovels") ================= */
.content {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 3rem;
    line-height: 1;
    font-weight: 500;
}

.subtitle {
    margin-top: 20px;
}

.tool-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
    padding-top: 24px;
    gap: 36px;
}

.tool-card {
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 12px 12px;
    border: 1px solid #b0b0a88f;
    border-radius: 8px;
    text-decoration: none;
    color: #1a1a1a;
    background: linear-gradient(90deg, #a5a5ab44, #efeff471, #a5a5ab44);
    box-shadow: 0px 20px 30px 3px #a5a5ab44;
    transition: transform 0.2s ease-in-out; 
}

.tool-card img {
    border-radius: 6px;
    width: 44px;
    height: 44px;
    padding: 5px;
    background-color: white;
}

.tool-card h3 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: normal;
}

.tool-card p {
    font-size: .875rem;
    line-height: 1.25rem;
    color: #1a1a1ab7;
}

.tool-card:hover {
    border-color: #85858fb4;
    transform: translateY(-5px) translateX(10px);
    box-shadow: 0px 10px 40px 0px #4a4aa444;
}


/* RESPONSIVE BREAKPOINTS */
@media (max-width: 767px) {
    .title {
        font-size: 1.5rem;
        line-height: 2.1rem;
    }
    .subtitle, .tool-grid {
        margin-top: 16px;
    }

    .tool-grid {
        gap: 24px;
    }
}

@media (max-width: 679px) {
    .title {
        font-size: 1.6rem;
    }

    .subtitle {
        font-size: 0.95rem;
    }

    .tool-grid {
        gap: 15px;
    }

    .tool-card {
        padding: 6px 8px;
    }

    .tool-card img {
        width: 35px;
        height: 35px;
        margin-top: 6px;
    }

    .tool-card h3 {
        font-size: inherit;
        font-weight: inherit;
    }

    .tool-card p {
        font-size: .75rem;
        line-height: 1rem;
    }
}